@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.search-holder {
    margin: 40px
}

.nav.nav-tabs {
    li {
        cursor: pointer;
    }
}

.avatar {
    height: 40px;
    margin: 20px;
    border: solid 1px black;
}

.users {
    margin-left: 40px;
}